---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Product3D from '../components/Product3D.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="CINDOR | TU CHOCOLATADA FAVORITA">
	<main>
		
		<Header />
		<Hero />
		<Product3D />
		<Products />
		<Footer />
		<Banner />
		

	</main>
</Layout>

<!--
 		<section id="about" class="py-16 px-8 text-center max-w-3xl mx-auto bg-slate-800">
			<h2 class="text-3xl font-bold text-chocolate">Our <span class="text-red-primary">Story</span></h2>
			<p class="mt-6 text-lg text-gray-600">Crafted with passion since 1970, every bottle of Choco Delight carries our commitment to quality and taste.</p>
		</section>
 -->