---
import Instagram from "./symbols/socialmedia/Instagram.astro";
import Tiktok from "./symbols/socialmedia/Tiktok.astro";
import Facebook from "./symbols/socialmedia/Facebook.astro";
import Twitter from "./symbols/socialmedia/Twitter.astro";
import Youtube from "./symbols/socialmedia/Youtube.astro";
//     
    // <!-- asdas -->
    // </div>
---


<section id="products" class="relative w-full bg-black text-center overflow-hidden">
    <!-- SVG -->
    <svg class="absolute inset-x-0 top-0 w-full h-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#451a03" fill-opacity="1" d="M0,288L24,261.3C48,235,96,181,144,144C192,107,240,85,288,106.7C336,128,384,192,432,192C480,192,528,128,576,117.3C624,107,672,149,720,192C768,235,816,277,864,266.7C912,256,960,192,1008,181.3C1056,171,1104,213,1152,208C1200,203,1248,149,1296,144C1344,139,1392,181,1416,202.7L1440,224L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
    </svg>
    <div class="bg-transparent lg:pt-64 lg:mt-64 mt-14">
        <!-- asdas -->
    </div>
    <footer class="w-full bg-black text-white pt-20 pb-10">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-y-10 md:gap-x-20 px-6">
            <!-- Logo -->
            <div class="flex justify-center md:justify-start items-center">
                <img src="CINDOR.png" alt="Logo" class="w-52 md:w-72 h-auto">
            </div>

            <!-- Información importante -->
            <div>
                <h3 class="text-2xl font-bold mb-4 text-yellow-300">Información Importante</h3>
                <ul class="text-lg space-y-2">
                    <li><a href="#" class="hover:text-yellow-300">Términos de uso</a></li>
                    <li><a href="#" class="hover:text-yellow-300">Política de Privacidad</a></li>
                    <li><a href="#" class="hover:text-yellow-300">Política de cookies</a></li>
                </ul>
            </div>

            <!-- Información al consumidor -->
            <div>
                <h3 class="text-2xl font-bold mb-4 text-yellow-300">Información al consumidor</h3>
                <ul class="text-lg space-y-2">
                    <li class="hover:text-yellow-300">0800 88 2254</li>
                    <li class="hover:text-yellow-300">11 3880 6094</li>
                    <li><a href="mailto:atencionalconsumidor@danone.com" class="hover:text-yellow-300 text-xs">atencionalconsumidor@danone.com</a></li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div>
                <h3 class="text-2xl font-bold mb-4 text-yellow-300">Nuestras<span class="text-red-800 font-bangers tracking-wider text-5xl ml-2">Redes</span></h3>
                <ul class="flex space-x-2 text-lg justify-center">
                    <li><a href="#" class="hover:text-yellow-300"><Instagram class="size-10 fill-white" /></a></li>
                    <li><a href="#" class="hover:text-yellow-300"><Tiktok class="size-10 fill-white" /></a></li>
                    <li><a href="#" class="hover:text-yellow-300"><Facebook class="size-10 fill-white" /></a></li>
                    <li><a href="#" class="hover:text-yellow-300"><Twitter class="size-10 fill-white" /></a></li>
                    <li><a href="#" class="hover:text-yellow-300"><Youtube class="size-10 fill-white" /></a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>
