<nav class="fixed top-0 w-full bg-red-500 bg-opacity-20 shadow-md px-56 py-8 flex justify-between items-center backdrop-blur-md z-50">
    <img class="w-44" src="/CINDOR.png" alt="Logo">
    <div class="flex gap-14 items-center relative">
        <!-- PRODUCTOS con menú desplegable -->
        <div class="relative group">
            <a href="#product" class="text-white text-4xl font-semibold font-staat">PRODUCTOS</a>
            <!-- Menú desplegable -->
            <div class="absolute left-0 top-full w-screen mt-2 hidden group-hover:flex flex-col bg-red-600 bg-opacity-70 text-white text-xl shadow-lg rounded-lg p-4 space-y-2">
                <a href="#product1" class="hover:text-yellow-300">Producto 1</a>
                <a href="#product2" class="hover:text-yellow-300">Producto 2</a>
            </div>
        </div>
        
        <a href="#buy" class="text-white text-4xl font-semibold font-staat">COMPRAR</a>
        <a href="#ingredients" class="text-white text-4xl font-semibold font-staat">INGREDIENTES</a>
    </div>
</nav>
